# AWS Credentials
# AWS Console에서 Access Key 만들고 여기에 입력하세요

AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_DEFAULT_REGION=ap-northeast-2

# ALB 정보
ALB_NAME=app/penguin-land-alb/77a716d3813b8deb
